

.modal-body {
  padding: 50px 50px; 
  font-size: 20px;
  
}

.modal-button {
  padding: 10px 10px; 
}

.modal-Form-Field {
  padding: 10px 50px;
  font-size: 15px;
  font-weight: bold;
}

.modal-header {
  padding: 10px 50px;
  font-size: 30px;
  
  /* text-align: left; */
}